/* @font-face {
  font-family: 'Heart Breath DEMO';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('./public/HeartBreath-DEMO.woff') format('woff');
} */

@font-face {
  font-family: 'Heart Breath DEMO';
  font-display: swap;
  src: url('/HeartBreath-DEMO.woff') format('woff');
}

/* @font-face {
  font-family: 'Nunito Sans';
  font-display: swap;
  src: url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap") format('woff');
}

@font-face {
  font-family: 'Lora';
  font-display: swap;
  src: url('https://fonts.googleapis.com/css2?family=Lora&display=swap') format('woff');
} */



html,
body {
  font-family: Nunito Sans, sans-serif;
  color: black;
}
